@font-face {
  font-family: 'Baloo';
  src: url('/BalooTammudu-Regular.ttf') format('truetype');

}

.container-fluid{
   width: 100vw;
   z-index: 1000;
   position: fixed;
   top: 0;
   left: 0;
   background: linear-gradient(90deg,#0752D1, #168AAF );
   height: 100vh;

}
#msg{
   margin-top: 1vh;
}
.titulo{
   display: flex;
   justify-content: center;
}
.nomeUsuario{
   width: 64%;
   text-align: center;
}
.iconeSite{
   margin-top: 2vh;
   text-align: center;
   border: solid;
   border-radius: 10px;
   border-color: white;
   height: 10vh;
   text-align: center;
}
.iconeSite h1{
   margin: 4vh;
   font-size: 3vh;
}

h4{
   font-family: "Baloo";
   color: white;
   margin-top: 1vh;
}
h3{
   font-family: "Baloo";
   color: white;
   margin-top: 2vh;
}
p{
     font-family: "Baloo";
   color: white;
   margin-bottom: 0;
}
.dashboard{
  margin-top: 5vh;
    flex-direction: row;
   display: flex;
   justify-content: center;
}
h1{
   margin-top: 5vh;
   color: white;
   font-family:"Baloo" ;
 
}

.links{
   border: solid;
   height: 50vh;
   width: 40vw;
   border-color: white;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
}


.inputs{
   text-align: center;
   margin-bottom: 2vh;
   width: 90%;
}
.inputs input{
   width: 100%;
}
#logout{
   margin-top: 5vh;
   cursor: pointer;

}
#imagemLogout{
   cursor: pointer;
}
.botoes{
   width: 70%;
   margin-top: 2vh;
  
}
.botoes button{
   height: 5vh;
   width: 90%;
   border-radius: 10px;
   border: none;
   margin-bottom: 2vh;
}
.botoes button:hover{
   background-color: rgba(255, 255, 255, 0.356);

}
.botoes p{
   padding-top: 1vh;
   color: black;
}

.removerLinks{
   border: solid;
   border-color: white;
   height: 90%;
   width: 90%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.removerLink{
   display: flex;
   flex-direction: row;
   justify-content: center;

}
.removerLink p{
   color: white;
   font-size: 2.5vh;
   margin-top: 2vh;
}
.removerLink img{
   height: 2vh;
   width: 2vw;
   cursor: pointer;
   margin-top: 2.5vh;
}

.editarLinks{
   border: solid;
   border-color: white;
   height: 90%;
   width: 90%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.editarLink{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.editarLink2 input{
   width: 90%;
   margin-bottom: 2vh;
}
.editarLink p{
   color: white;
   font-size: 3vh;
   margin-top: 2vh;
}

.editarLink img{
   height: 2vh;
   width: 2vw;
   cursor: pointer;
   margin-top: 2.5vh;
}
#linksUsuario{
   overflow: auto;
}
