<div class="container-fluid">
    <div class="titulo">
            <div class="iconeSite">
                <h1>Tô Meus Links</h1>
            </div> 
            <div class="nomeUsuario">
                    <h1>Ola {{usuario.sub}}!!</h1>
             </div>

    </div>
    <div class="dashboard">
        
        <div class="links" id="linksUsuario">
            <h4>Seus Links</h4>

            <div >            

           @for(link of (links$|async);track $index){
              <div>
                 <p>{{link.titulo}}</p>
                 <p>{{link.link_user}}</p>        
            </div>
            }@empty{
                <p>Você não tem Links cadastrados</p>

            }  
        
            </div>

        </div>

        <div class="links" *ngIf="gerenciarLinks">
            <h4>Gerenciar Links</h4>
            <div class="botoes">
                <button (click)="toAdicionar()"><p>Adicionar</p></button>
                <button (click)="toRemover()"><p>Remover </p></button>
                <button disabled><p>Editar</p></button>
                <button><p>Visualizar Pagina</p></button>
            </div>
        </div>


        <div class="links" *ngIf="adicionarLink">
            <h4>Adicionar Link</h4>
            <div class="inputs" >
            <p>URL/Link:</p>
            <input type="text" #link>
            <p>Titulo</p>
            <input type="text" #titulo>
            <p>Icone/Url</p>
            <input type="text" #icone>
            </div>
            @if(msgAdicionado){
                <p>{{msg}}</p>
            }
            <div class="botoes">
                     <button (click)="adicionarLinks(link.value,titulo.value,icone.value)"><p>Adicionar</p></button>
                     <button (click)="toGerenciarLinks()"><p>Voltar</p></button>
            </div>
           

        </div>


        <div class="links" *ngIf="removerLink">
            <h4>Remover Link</h4>

                <div class="removerLinks">
           
                @for(link of (links$|async);track $index){
                <div class="removerLink">
                    <p>{{link.link_user}}</p><img src="/lixeira.png" alt="" (click)="removerLinks(link.titulo)">
                </div>
                }@empty {
                    <p>Você não tem links cadastrados</p>
                }

                </div>

              @if(msgRemovido){
                    <p>{{msg}}</p>
              }

            <div class="botoes">
                     <button (click)="toGerenciarLinks()"><p>Voltar</p></button>
            </div>
           

        

    </div>


</div>