@font-face {
  font-family: 'Baloo';
  src: url('/BalooTammudu-Regular.ttf') format('truetype');

}
.container-fluid{
   width: 100vw;
   z-index: 1001;
   position: fixed;
   top: 0;
   left: 0;
   background: linear-gradient(90deg,#0752D1, #168AAF );
   height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1{
    font-family: 'Baloo',cursive;
    color: white;
    font-size: 8vh;
    margin: 0;
    cursor: pointer;
}
h3{
    margin-top: 2vh;
    font-family: 'Baloo',cursive;
    color: white;
    cursor: pointer;
}

.titulo{
    width: 100%;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.titulo h4{
    color: white;
    font-family: 'Baloo',cursive;
    font-size: 2vh;
    margin-bottom: 10vh;
}
.links{
    width: 100%;
    display: flex;
    justify-content: center;
}
.quadro{
    width: 70%;
    border: solid;
    border-radius: 10px;
    border-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



.linksQuadro{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    align-items: flex-end;
}
.linksQuadro img{
    height: 3.5vh;
    width: 2.5vw;
    margin-right: 1vh;
    
}
.linksQuadro p{
    font-family: 'Baloo',cursive;
    color: white;
    font-size: 3vh;
    height: 3vh;
    margin-bottom: 0;
}
.botao{
    border-radius: 30px;
    width: 40%;
    border: none;
  
}
.botao p{
    margin-top: 2.5vh;
    font-family: 'Baloo',cursive;
    text-align: center;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    border-radius: 10px;
    width: 90%;
    height: 10vh;
    margin-bottom: 5%;
    cursor: pointer;
}


@media (max-width:700px) {
    .linksQuadro img{
    height: 4.5vh;
    width: 3.5vw;
    
}
@media(max-width:440px){
     .linksQuadro img{
    height: 5.5vh;
    width: 6vw;
    
} 


}

}