@font-face {
  font-family: 'Baloo';
  src: url('/BalooTammudu-Regular.ttf') format('truetype');

}

.container{
    width: 100%;
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Baloo",cursive;
    color: white;
}
.titulo h1{
    margin-top: 4vh;
    margin-bottom: 0;
    font-size: 8vh;
    height: 8vh;
}
.titulo p{
}


@media(max-width:500px){
.titulo h1{
    font-size: 5vh;
    height: 5vh;
}
.titulo p{
    font-size: 2vh;
}


}